/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v29-latin-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v29-latin-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.icon__active .pakimon__heart {
  fill: red;
  -webkit-filter: drop-shadow(1px 1px 10px red);
          filter: drop-shadow(1px 1px 10px red);
}

.header {
  background-color: #FFD845;
}

.header__list {
  padding: 50px 0 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.header__img {
  max-width: 100%;
}

.header__heart {
  width: 50px;
  height: 50px;
}

.header__heart:hover {
  fill: red;
}

@media screen and (max-width: 560px) {
  .header__btn {
    top: 25px;
    right: 25px;
  }
}

main {
  background-color: #FFD845;
  min-height: 80vh;
}

.form {
  margin: 0 auto 100px;
  max-width: 1175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__select {
  width: 260px;
  padding: 15px;
}

.form__search {
  padding: 16px 30px;
  width: 300px;
}

.form__input {
  outline: none;
  border: none;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 15px;
}

.form__btn {
  width: 200px;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .form__input {
    width: 300px;
    margin-bottom: 15px;
  }
}

.pakimon__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pakimon__item {
  width: 307px;
  height: 423px;
  margin-bottom: 30px;
  border: 2px solid #000000;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.pakimon__img {
  margin: 30px 75px 68px;
}

.pakimon__hr {
  border: 1px solid #000;
}

.pakimon__heart {
  width: 30px;
  height: 30px;
}

.pakimon__heart:hover {
  fill: red;
}

.pakimon__btn {
  position: absolute;
  right: 30px;
  bottom: 115px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.pakimon__title {
  margin: 20px 0 5px 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.pakimon__ability {
  margin: 0 0 25px 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.pakimon__weidth {
  margin: 0 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.pakimon__age {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal__list {
  width: 500px;
  background-color: #FFEDA9;
  overflow: auto;
  position: relative;
}

.modal__pic {
  width: 40px;
  height: 40px;
}

.modal__btn {
  position: fixed;
  margin: 20px 0 0 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 4;
}

.modal__btn:hover {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px 2px #fff;
          box-shadow: 0 0 2px 2px #fff;
}

.modal__btn--close {
  display: none;
}

.modal__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */