.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    // display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    &__list{
        width: 500px;
        background-color: #FFEDA9;
        overflow: auto;
        position: relative;
    }
    &__pic{
        width: 40px;
        height: 40px;
    }
    &__btn{
        position: fixed;
        margin: 20px 0 0 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        z-index: 4;
        &:hover{
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 2px 2px #fff;
        }
    }
    &__card{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__active{
        display: flex;
    }
}